<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../styles/styles_formulario.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <p>20% de descuento en todos los productos!</p>
        <div class="logoTienda">
            <img  src="../img/logoTienda.svg" alt="logoTienda">
            <h2>Nombre Tienda</h2>
        </div>
        <div class="navegador">
            <nav>
                <ul>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">registrarme</a></li>
                    <li><a href="#">Ingresar</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="FormularioCompleto">
            <h1>Añadí tu super!</h1>
            <p>Agregá tu personaje favorito completando las opciones.</p>
            <form action="/registro" method="get">
                <div id="formulario">
                    <div>
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name">
    
                        <label for="date">Fecha</label>
                        <input type="date" id="date" name="date">
    
                        <textarea name="description" id="description" >Descripcion</textarea>
                    </div>
                    <div>
                        <label for="especie">Especie</label>
                        <select name="especie">
                            <option value="x">x</option>
                            <option value="y">y</option>
                        </select>

                        <label for="imagen">Agregar Foto</label>
                        <input type="file" id="imagen" name="imagen" accept=".jpg">
    
                        <label for="poderes">Poderes</label>
                        <input type="checkbox" name="poderes" id="poderes" >Volar
                        <br>
                        <input type="checkbox" name="poderes" id="poderes" >Super inteligencia
                        <br>
                        <input type="checkbox" name="poderes" id="poderes" >Vista de rayo laser
                        <br>
                        <input type="checkbox" name="poderes" id="poderes" >Billetera gorda
                        <hr>
    
                        <label for="type">Tipo de personaje</label>
                        <input type="radio" name="tipopersonaje" id="tipopersonaje" >Héroe / Heroina
                        <br>
                        <input type="radio" name="tipopersonaje" id="tipopersonaje" >Villano / Villana
                    </div>
                </div>
                <button type="submit">Añadir</button>
            </form>
        </section>
    </main>
    <footer>
        <div>
            <p>Todos los derechos reservados a FRONT END 1</p>
            <img src="../img/githubImage.png" alt="github" >
        </div>
    </footer>
</body>
</html>